@model WebApplication1.Data.Article

@{
    ViewData["Title"] = "Details";
}



<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <div>
                <img class="img-fluid" src="@Model.Image" />
            </div>
        </dd>
        <dt hidden class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd hidden class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index" class="btn btn-primary">Върни се назад</a>
</div>
