@model IEnumerable<WebApplication1.Data.Article>
@using WebApplication1.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@inject SignInManager<User> SignIn
@inject UserManager<User> Manager
@{
    ViewData["Title"] = "Index";
}




@if (SignIn.IsSignedIn(User) && await Manager.IsInRoleAsync(Manager.GetUserAsync(User).Result, "admin"))
{<h1>Създай нова статия</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-success">Създай </a>
    </p>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">

                <div class="card text-center" style="width: 18rem; ">
                  
                        <img class="card-img-top" src="@item.Image" alt="Card image cap">
                   
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Статия:   @item.ArticleText </p>
                        </div>
                    

                    <div class="card-body">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Редактирай</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Детайли</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Изтриване</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

else if (SignIn.IsSignedIn(User) == true)
{
    <p>
        <a asp-action="Create" class="btn btn-outline-success">Създай </a>
    </p>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card text-center" style="width: 18rem; ">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="card-img-top" src="@item.Image" alt="Card image cap">
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="nav-link text-dark">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Статия:   @item.ArticleText </p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{

    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card text-center" style="width: 18rem; ">
                    <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" src="@item.Image" alt="Card image cap"></a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Статия:   @item.ArticleText </p>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        }
    </div>
}
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    -->
