@model WebApplication1.Data.Employee
@using WebApplication1.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@inject SignInManager<User> SignIn
@inject UserManager<User> Manager
@{
    ViewData["Title"] = "Details";
}
@if (SignIn.IsSignedIn(User) && await Manager.IsInRoleAsync(Manager.GetUserAsync(User).Result, "admin"))
{<h1>Детайли</h1>

    <div>
   
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SecondName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SecondName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                <img class="img-fluid" src="@Model.Image" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmployeersPosition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeersPosition)
            </dd>
        </dl>
    </div>
    <div>
     
        <a asp-action="Index" class="btn btn-primary">Върни се назад</a>
    </div>
}
else { }